#main{
    padding: 0;
    margin: 0;
}

#main-cont{
    display: flex;
    align-items: center;
}

#title-cont{
    width: 50%;
}

#img-div{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#img-fig{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image{
    height: 95%;
}